/* line 1, ../_sass/gistdeck.scss */
.presentation-slides {
  /* hide gist interface */
  /* hide and reset gist header except for author gravatar and name */
  /* hide github interface */
  /* reset github interface styles */
  /* basic style */
  /* owner/gravatar/description becomes title screen */
  /* slide text style */
  /* slides */
  /* slides with images and text */
  /* code style */
  @font-face {
    font-family: 'Ubuntu';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-R-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-R-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-R-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-R-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-R-webfont.svg#UbuntuRegular") format("svg");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'Ubuntu';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-RI-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-RI-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-RI-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-RI-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-RI-webfont.svg#UbuntuItalic") format("svg");
    font-weight: normal;
    font-style: italic; }

  @font-face {
    font-family: 'Ubuntu';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-B-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-B-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-B-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-B-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-B-webfont.svg#UbuntuBold") format("svg");
    font-weight: bold;
    font-style: normal; }

  @font-face {
    font-family: 'Ubuntu';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-BI-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-BI-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-BI-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-BI-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-BI-webfont.svg#UbuntuBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic; }

  @font-face {
    font-family: 'Ubuntu';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-L-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-L-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-L-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-L-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-L-webfont.svg#UbuntuLight") format("svg");
    font-weight: lighter;
    font-style: normal; }

  @font-face {
    font-family: 'Ubuntu';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-LI-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-LI-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-LI-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-LI-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/Ubuntu-LI-webfont.svg#UbuntuLightItalic") format("svg");
    font-weight: lighter;
    font-style: italic; }

  @font-face {
    font-family: 'Ubuntu Mono';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-R-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-R-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-R-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-R-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-R-webfont.svg#UbuntuMonoRegular") format("svg");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'Ubuntu Mono';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-RI-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-RI-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-RI-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-RI-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-RI-webfont.svg#UbuntuMonoItalic") format("svg");
    font-weight: normal;
    font-style: italic; }

  @font-face {
    font-family: 'Ubuntu Mono';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-B-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-B-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-B-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-B-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-B-webfont.svg#UbuntuMonoBold") format("svg");
    font-weight: bold;
    font-style: normal; }

  @font-face {
    font-family: 'Ubuntu Mono';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-BI-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-BI-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-BI-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-BI-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuMono-BI-webfont.svg#UbuntuMonoBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic; }

  @font-face {
    font-family: 'Ubuntu Title';
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuTitling-Bold-webfont.eot");
    src: url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuTitling-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuTitling-Bold-webfont.woff") format("woff"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuTitling-Bold-webfont.ttf") format("truetype"), url("https://s3.amazonaws.com/tybenz.gistdeck/font/UbuntuTitling-Bold-webfont.svg#UbuntuTitlingBold") format("svg");
    font-weight: normal;
    font-style: normal; }
 }
  /* line 12, ../_sass/gistdeck.scss */
  .presentation-slides #header,
  .presentation-slides #revisions,
  .presentation-slides #comments,
  .presentation-slides #delete_link,
  .presentation-slides #footer,
  .presentation-slides .files .file-box .meta,
  .presentation-slides .fork-info,
  .presentation-slides .root-pane,
  .presentation-slides .uncommentable,
  .presentation-slides .js-comment-form {
    display: none !important; }
  /* line 17, ../_sass/gistdeck.scss */
  .presentation-slides .secondary,
  .presentation-slides .files {
    float: none !important;
    width: auto !important; }
  /* line 22, ../_sass/gistdeck.scss */
  .presentation-slides .main {
    width: auto !important; }
  /* line 26, ../_sass/gistdeck.scss */
  .presentation-slides .file-box, .presentation-slides .file-box article {
    background: none !important;
    background: transparent !important; }
  /* line 35, ../_sass/gistdeck.scss */
  .presentation-slides .pagehead-actions,
  .presentation-slides .entry-title > span,
  .presentation-slides .gist-author strong,
  .presentation-slides .gist-timestamp {
    display: none !important; }
  /* line 40, ../_sass/gistdeck.scss */
  .presentation-slides .pagehead,
  .presentation-slides .entry-title {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important; }
  /* line 51, ../_sass/gistdeck.scss */
  .presentation-slides .last-commit,
  .presentation-slides .commit,
  .presentation-slides .breadcrumb,
  .presentation-slides #readme .name,
  .presentation-slides a.anchor span {
    display: none !important; }
  /* line 55, ../_sass/gistdeck.scss */
  .presentation-slides #readme, .presentation-slides .markdown-body {
    background: none !important;
    background: transparent !important;
    border: 0 none !important;
    padding: 0 !important; }
  /* line 64, ../_sass/gistdeck.scss */
  .presentation-slides .bubble,
  .presentation-slides .bubble .file-box {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important; }
  /* line 73, ../_sass/gistdeck.scss */
  .presentation-slides body {
    background-attachment: fixed;
    background-color: #f9f9f9;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 13px !important;
    color: #111 !important;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    padding-bottom: 600px !important; }
  /* line 83, ../_sass/gistdeck.scss */
  .presentation-slides a {
    color: #4E51A3 !important; }
  /* line 86, ../_sass/gistdeck.scss */
  .presentation-slides a:hover {
    text-decoration: none;
    color: #514ECA !important; }
  /* line 91, ../_sass/gistdeck.scss */
  .presentation-slides .file-box {
    font-size: 36px !important;
    line-height: 54px !important;
    padding: 30px !important;
    border: 0 none !important;
    width: 1024px;
    margin: 0 auto; }
  /* line 101, ../_sass/gistdeck.scss */
  .presentation-slides .pagehead {
    background: none !important;
    background: transparent !important;
    text-align: center !important;
    padding: 30px !important;
    margin-top: 120px !important; }
  /* line 109, ../_sass/gistdeck.scss */
  .presentation-slides .gist-author {
    font-weight: normal !important;
    font-size: 0px !important;
    /* removes the trailing slash */
    color: #111 !important;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; }
  /* line 116, ../_sass/gistdeck.scss */
  .presentation-slides .gist-author img {
    height: 36px !important;
    width: 36px !important;
    margin-bottom: 7px;
    margin-right: 6px; }
  /* line 123, ../_sass/gistdeck.scss */
  .presentation-slides .gist-author .author a {
    color: #111 !important;
    font-size: 24px !important;
    font-weight: normal !important; }
  /* line 129, ../_sass/gistdeck.scss */
  .presentation-slides .gist-description p {
    font-size: 84px !important;
    line-height: 70px !important;
    font-weight: normal !important;
    text-align: center !important;
    color: #222 !important;
    font-family: "Ubuntu Title", "Ubuntu", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.05em; }
  /* line 142, ../_sass/gistdeck.scss */
  .presentation-slides h1, .presentation-slides h2, .presentation-slides h3, .presentation-slides h4, .presentation-slides p {
    color: #111 !important;
    text-align: center !important; }
  /* line 146, ../_sass/gistdeck.scss */
  .presentation-slides h1, .presentation-slides h2, .presentation-slides h3, .presentation-slides h4 {
    border: 0 none !important;
    text-align: center;
    font-weight: normal !important; }
  /* line 154, ../_sass/gistdeck.scss */
  .presentation-slides h1, .presentation-slides h2 {
    font-size: 84px !important;
    line-height: 70px !important;
    margin-bottom: 36px !important;
    color: #222 !important;
    font-family: "Ubuntu Title", "Ubuntu", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.05em; }
  /* line 163, ../_sass/gistdeck.scss */
  .presentation-slides h2 {
    color: #444 !important; }
  /* line 166, ../_sass/gistdeck.scss */
  .presentation-slides h3 {
    font-size: 45px !important;
    line-height: 54px !important;
    margin-bottom: 18px; }
  /* line 171, ../_sass/gistdeck.scss */
  .presentation-slides p, .presentation-slides li, .presentation-slides h4 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 36px !important;
    line-height: 54px !important; }
  /* line 177, ../_sass/gistdeck.scss */
  .presentation-slides li * {
    text-align: left !important; }
  /* line 180, ../_sass/gistdeck.scss */
  .presentation-slides li, .presentation-slides p {
    margin-bottom: 24px !important; }
  /* line 185, ../_sass/gistdeck.scss */
  .presentation-slides h2 + p img {
    float: right !important;
    margin-left: 20px !important; }
  /* line 192, ../_sass/gistdeck.scss */
  .presentation-slides .file-box img {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.2))); }
  /* line 197, ../_sass/gistdeck.scss */
  .presentation-slides .file-box div.highlight {
    background: none !important;
    background: transparent !important;
    font-family: "Ubuntu Mono", monospace; }
  /* line 202, ../_sass/gistdeck.scss */
  .presentation-slides .markdown-body .highlight pre, .presentation-slides .markdown-body pre, .presentation-slides div.highlight pre, .presentation-slides pre, .presentation-slides .markdown-body code {
    font-family: "Ubuntu Mono", monospace;
    border: 1px solid rgba(103, 100, 130, 0.4) !important;
    background: rgba(252, 252, 253, 0.6) !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
    padding: 11px !important;
    text-align: left; }
  /* line 212, ../_sass/gistdeck.scss */
  .presentation-slides .markdown-body pre, .presentation-slides .markdown-body div.highlight pre, .presentation-slides pre code, .presentation-slides li code {
    font-family: "Ubuntu Mono", monospace;
    font-size: 24px !important;
    line-height: 28px !important;
    padding: 11px !important;
    text-align: left; }
  /* line 341, ../_sass/gistdeck.scss */
  .presentation-slides .markdown-body del, .presentation-slides .markdown strike, .presentation-slides .markdown s {
    text-decoration: none !important;
    color: #ccc !important; }
