@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,500,300italic,500italic|Ubuntu+Condensed";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  color: #444444;
  font-size: 16px; }

a {
  color: #5ea5ff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5 {
  color: #222222;
  font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: -0.05em;
  margin: 0.4em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none; }

iframe {
  width: 100%;
  overflow: hidden; }

video {
  width: 100%; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h5.logo {
  font-size: 1.6rem; }

h1.hero {
  font-size: 4.5rem;
  margin: 0.3em 0 0.1em; }

p {
  line-height: 1.5em;
  margin: 1em 0; }

.wrapper {
  padding: 20px; }

.container {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  position: relative; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

header a {
  color: inherit; }
  header a:hover {
    text-decoration: none; }

header nav ul {
  font-size: 16px;
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0 0 10px; }
  header nav ul:before, header nav ul:after {
    content: "";
    display: table; }
  header nav ul:after {
    clear: both; }

header nav ul li {
  float: left; }
  header nav ul li a {
    padding-right: 20px; }

header nav.subnav {
  z-index: 2;
  margin: 7px 0 -40px;
  position: absolute;
  right: 0; }

header .subnav a {
  padding-right: 0;
  padding-left: 20px; }

header .nav-slider {
  height: 3px;
  background-color: #111111;
  position: relative; }

header .nav-selection {
  position: absolute;
  height: 3px;
  background-color: #6ec5ff;
  -webkit-transition-property: compact(transform, false, false, false, false, false, false, false, false);
  -moz-transition-property: compact(transform, false, false, false, false, false, false, false, false);
  -ms-transition-property: compact(transform, false, false, false, false, false, false, false, false);
  -o-transition-property: compact(transform, false, false, false, false, false, false, false, false);
  transition-property: compact(transform, false, false, false, false, false, false, false, false);
  -webkit-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -moz-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -ms-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -o-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -webkit-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  -moz-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  -ms-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  -o-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  transition-timing-function: compact(linear, false, false, false, false, false, false, false, false); }

header .nav-selection.about {
  width: 44px;
  -webkit-transform: translateX(51px);
  -moz-transform: translateX(51px);
  -ms-transform: translateX(51px);
  -o-transform: translateX(51px);
  transform: translateX(51px); }

header .nav-selection.blog {
  width: 33px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

header .nav-selection.projects {
  width: 59px;
  -webkit-transform: translateX(114px);
  -moz-transform: translateX(114px);
  -ms-transform: translateX(114px);
  -o-transform: translateX(114px);
  transform: translateX(114px); }

header .subnav-selection {
  position: absolute;
  height: 3px;
  background-color: #111111;
  width: 50px;
  -webkit-transition-property: compact(right, false, false, false, false, false, false, false, false);
  -moz-transition-property: compact(right, false, false, false, false, false, false, false, false);
  -ms-transition-property: compact(right, false, false, false, false, false, false, false, false);
  -o-transition-property: compact(right, false, false, false, false, false, false, false, false);
  transition-property: compact(right, false, false, false, false, false, false, false, false);
  -webkit-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -moz-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -ms-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -o-transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  transition-duration: compact(0.05s, false, false, false, false, false, false, false, false);
  -webkit-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  -moz-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  -ms-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  -o-transition-timing-function: compact(linear, false, false, false, false, false, false, false, false);
  transition-timing-function: compact(linear, false, false, false, false, false, false, false, false); }

header .subnav-selection.walkie-home {
  right: 156px;
  width: 42px; }

header .subnav-selection.walkie-hubot {
  right: 91px;
  width: 44px; }

header .subnav-selection.download {
  right: 0;
  width: 71px; }

header .subnav-selection.vimdeck-home {
  right: 53px;
  width: 44px; }

header .subnav-selection.vimdeck-docs {
  right: 0px;
  width: 34px; }

header .subnav-selection.exemplar-home {
  right: 145px;
  width: 44px; }

header .subnav-selection.exemplar-docs {
  right: 91px;
  width: 34px; }

header .profile {
  float: right;
  height: 58px;
  margin-top: 14px; }

header .social {
  width: 16px;
  float: left; }

header .social img {
  display: block;
  margin: 9px 0; }

header .avatar, header .avatar-large {
  height: 58px;
  border: 2px solid #111111;
  float: left;
  margin-left: 10px;
  display: none; }

header .avatar-large {
  display: none; }

footer {
  font-size: 0.8rem;
  margin-top: 30px; }

footer ul {
  padding: 0;
  font-size: 0.8rem; }

footer nav {
  border-width: 3px 0 0;
  border-style: solid;
  border-color: #111111;
  padding-top: 20px; }

footer nav ul li {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  footer nav ul li:last-child {
    margin-right: 0; }
  @media screen and (max-width: 40em) {
    footer nav ul li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 10px; }
      footer nav ul li:last-child {
        margin-right: 0; }
      footer nav ul li:nth-child(2n) {
        margin-right: 0; } }

ul, ol {
  line-height: 1.5em;
  padding-left: 20px;
  font-size: 1rem; }

ul {
  list-style: square; }

.post {
  border-top: 1px solid #cccccc;
  margin-bottom: 5em; }

.post:first-child {
  border-top: none; }

.post-header .date {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-decoration: lowercase;
  margin: 1.5em 0 -1.7em; }

#projects {
  margin-top: 40px; }

.project {
  display: block;
  border: 1px solid #cccccc;
  margin-bottom: 2.35765%;
  padding: 2.35765%;
  color: inherit; }
  .project:hover {
    border-color: #5ea5ff;
    text-decoration: none; }

.project h2 {
  font-size: 3rem; }

.project:nth-child(2n) {
  margin-right: 0; }

.pagination {
  margin-top: 30px; }

.button, .key-selector a {
  background: #222222;
  color: white;
  padding: 0.4em 0;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.2rem; }

.key-selector {
  margin-bottom: 1rem; }

.key-selector a {
  float: left;
  padding: 0.5em 0.4em 0.4em;
  margin-right: 0.4em;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 0.8rem; }

.key-selector a.active {
  background-color: #6ec5ff; }

.button:hover, .button:active {
  -webkit-box-shadow: compact(0 0 1px 2px black inset, false, false, false, false, false, false, false, false);
  box-shadow: compact(0 0 1px 2px black inset, false, false, false, false, false, false, false, false); }

.pagination .button span {
  position: relative; }

.pagination a.previous span:before {
  content: "←";
  position: absolute;
  left: -1.5rem; }

.pagination a.next span:after {
  content: "→";
  position: absolute;
  left: 2.8rem; }

pre, .highlight pre, .highlight code {
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  word-wrap: normal;
  font-size: 1rem;
  line-height: 1.3em; }

.chords {
  color: white; }

.chords strong {
  color: #6ec5ff; }

.post img {
  display: inline-block;
  margin-bottom: 1em; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 29em) {
  html {
    font-size: 22px; }

  h1 {
    font-size: 4rem; }

  h2 {
    font-size: 3.5rem; }

  h3 {
    font-size: 3rem; }

  h4 {
    font-size: 2.5rem; }

  h5 {
    font-size: 2rem; }

  .project {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    min-height: 13.1rem; }
    .project:last-child {
      margin-right: 0; }

  .pagination a {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .pagination a:last-child {
      margin-right: 0; }

  header .avatar {
    display: block; } }
  @media only screen and (min-width: 29em) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 29em) and (min-resolution: 144dpi), only screen and (min-width: 29em) and (min-resolution: 1.5dppx) {
    header .avatar {
      display: none; } }

@media only screen and (min-width: 29em) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 29em) and (min-resolution: 144dpi), only screen and (min-width: 29em) and (min-resolution: 1.5dppx) {
  header .avatar-large {
    display: block; } }

@media only screen and (min-width: 29em) {
  header .profile {
    width: 84px; } }
