---
layout: default
nav: projects
title: Projects
---
<section id="projects">
{% for page in site.pages %}
  {% if page.project == true %}
    {% if page.link %}
      <a class="project" href="{{ page.link }}">
    {% else %}
      <a class="project" href="{{ page.url | replace: '/index.html', '' }}">
    {% endif %}
              <div class="project-header">
                  <h2>
                      {{ page.title }}
                  </h2>
              </div>
              <div class="project-body">
                <p>
                    {{ page.summary }}
                </p>
              </div>
      </a>
  {% endif %}
 
{% endfor %}
</section>
