---
layout: default
skip_title: true
nav: projects
title: Projects
---

<header>
  <p class="username"><a href="./" target="_self">Projects</a></p>
</header>
<main>
{% for page in site.pages %}
  {% if page.project == true %}
    {% if page.hidden != true %}
      <article>
        <header class="heading">
      {% if page.link %}
        <h1 class="page-title"><a href="{{ page.link }}">
      {% else %}
        <h1 class="page-title"><a href="{{ page.url | replace: '/index.html', '' }}">
      {% endif %}
      {{ page.title }}</a></h1>
          <p class="timestamp">{{ page.summary }}</p>
        </header>
      </article>
    {% endif %}
  {% endif %}
{% endfor %}
</main>
<footer><a href="/" style="border:0">tybenz.com</a> &nbsp;<a href="/about">about</a> &nbsp;<a href="https://twitter.com/tybenz">twitter</a> &nbsp;<a href="https://github.com/tybenz">github</a></footer>
